{% extends "base.html" %}
{% block content %}
<h1 class="text-center mb-5" style="margin-top: 20px; color: white; text-align: center; vertical-align: middle;">Sejam bem-vindos ao nosso sistema de controle de chamados!</h1>
<h2 class="text-center mb-5" style="margin-top: 20px; color: white; text-align: center; vertical-align: middle;">Nele você pode abrir chamados e visualizar o status deles.<br> Se você já tem uma conta criada, clique no botão "Login" e faça acesso ao sistema.<br> Caso você não tenha uma conta, clique no botão "Inscreva-se" e crie uma.</h2>
{% endblock %}