{% extends "base.html" %}

{% block content %}
<div class="card p-4 rounded" style="max-width: 900px; margin: 0 auto; margin-top: 30px ; position: relative;">
    <h2 class="text-center mb-4 font-weight-bold" style="font-size: x-large;">Meus Chamados</h2>
    <div class="col">
        <table class="table table-striped table-bordered" style="width: 100%;">
            <thead>
                <tr>
                    <td>ID Chamado</td>
                    <td>Garantia</td>
                    <td>ID Equipamento</td>
                    <td>Descrição do Defeito</td>
                    <td>Criado em</td>
                    <td>Status do Chamado</td>
                </tr>
            </thead>
            <tbody>
                {% for row in lista_chamados %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[6]}}</td>
                    <td>{{row[5]}}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    <a class="btn btn-secondary btn-sm" href="{{ url_for('main.criar_chamado') }}">Criar Chamado</a>
    </div>  
</div>
{% endblock %}