<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Abertura de Chamado</title>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</head>

<script>
    function voltar() {
        window.history.back();
    }
</script>

<body style="background-color: #000; color: #fff; margin-top: 50px;">
    <div class="container">
        <h1 class="text-center mb-5">FORMULÁRIO PARA ABERTURA DE CHAMADO</h1>
        <div class="card p-4 rounded" style="max-width: 500px; margin: 0 auto; position: relative;">
            <h2 class="text-center mb-4 font-weight-bold" style="font-size: x-large;">Descrição do chamado
            </h2>
            <form action="/enviarFormulario" method="get">
                <div class="mb-3">
                    <label for="descricao_defeito">Descreva qual é o defeito do equipamento:</label>
                    <textarea class="form-control" aria-label="descricao_defeito" name="descricao_defeito" id="descricao_defeito"></textarea>
                </div>
                <div class="mb-3">
                    <label for="equip_funcionando">Mesmo com o defeito, estão conseguindo usar o equipamento?</label><br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="equip_funcionando" id="sim_funcionando" value="sim_funcionando">
                        <label class="form-check-label" for="sim_funcionando">Sim</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="equip_funcionando" id="nao_funcionando" value="nao_funcionando">
                        <label class="form-check-label" for="nao_funcionando">Não</label>
                    </div>
                </div>
                <div class="mb-3" style="text-align: right;">
                    <button type="button" class="btn btn-secondary" onclick="voltar()">
                    <i class="bi bi-arrow-left"></i>  Voltar</button>
                    <button class="btn btn-dark">Enviar Formulário <i class="bi bi-check-circle-fill"></i></button>
                </div>
            </form>
            <br>
            
        </div>
    </div>

</body>

</html>
