{% extends "base.html" %}
{% block content %}
<h1 class="text-center mb-5" style="margin-top: 20px; color: white;">FORMULÁRIO PARA ABERTURA DE CHAMADO</h1>
<div class="card p-4 rounded" style="max-width: 500px; margin: 0 auto; position: relative;">
    <h2 class="text-center mb-4 font-weight-bold" style="font-size: x-large;">Dados do chamado
    </h2>
    <form action="/dadosChamado" method="get">
        <div class="mb-3">
            <label for="tipo_chamado">Tipo de Chamado</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="tipo_chamado" id="instalacao" value="instalacao" required>
                <label class="form-check-label" for="instalacao">Instalação</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="tipo_chamado" id="garantia" value="garantia" required>
                <label class="form-check-label" for="garantia">Garantia</label>
            </div>
        </div>
        <div class="mb-3">
            <label for="numero_serie">Digite o número de série do equipamento:</label>
            <input type="text" class="form-control" name="numero_serie" id="numero_serie" pattern="{12}" maxlength="12">
        </div>
        <div class="mb-3">
            <label for="modelo_equip">Selecione o modelo do equipamento:</label>
            <select class="form-select" name="modelo_equip" id="modelo_equip">
                <option value="-">---------</option>
                <option value="XEVC-1011-EPRM">XEVC-1011-EPRM</option>
                <option value="XEVC-0511-EPRM">XEVC-0511-EPRM</option>
                <option value="XEVC-1011-E1RS">XEVC-1011-E1RS</option>
                <option value="XEVC-0511-E1RS">XEVC-0511-E1RS</option>
            </select>
        </div>
        <div class="box" style="text-align: right;">
            <button type="button" class="btn btn-secondary" onclick="voltar()">
                <i class="bi bi-arrow-left"></i>  Voltar</button>
            <button class="btn btn-dark">Próximo  <i class="bi bi-arrow-right"></i></button>
        </div>
    </form>
    <br>
    
</div>
{% endblock %}